# temp files
*.xml~
*.py~
*.txt~
*.conf~

# updates
update/files
update/upload
!update/adler32.c
update/adler32

hercules_update/files
hercules_update/upload
!hercules_update/adler32.c
hercules_update/adler32

# saedit
saedit/saedit
saedit/make.log

# langs
lang/tx
lang/new

# lang client
lang_client/tmp
lang_client/pot
lang_client/dict

# tx
tx

# temp files
*.o

# dyecmd
dyecmd/src/dyecmd
dyecmd/src/CMakeFiles/
dyecmd/src/Makefile
dyecmd/src/cmake_install.cmake

# testxml
testxml/errors.txt

# gitlab merger
herculeswrapper/herc-map-wrapper-config
