# temp files
*.xml~
*.py~
*.txt~
*.conf~

# java converter
tmwcon/converter.jar
tmwcon/server-data/
tmwcon/summary.txt
tmwcon/tmwdata
tmwcon/build

# updates
update/files
update/upload
!update/adler32.c
update/adler32

# saedit
saedit/saedit

# langs
lang/tx
lang/new

# lang client
lang_client/tmp
lang_client/pot

# tx
tx

# temp files
*.o
